:global(.sideNavItem) {
    position: relative;

    &:before {
        position: absolute;
        content: '';
        width: 1px;
        height: 100%;
        display: block;
        background: #c4ff61;
        top: 0;
        left: -1px;
    }
}

:global(.sideNavItem.active) {
    &:before {
        width: 8px;
        left: -8px;
    }
}

.container {
    overflow-y: scroll;
    position: relative;
}

.container::-webkit-scrollbar {
    position: absolute;
    width: 8px;
    right: 10px;
}
.container::-webkit-scrollbar-track {
    margin-right: -10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.04);
}

.container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.16);
    border-radius: 99px;
    width: 8px;
}
