@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --header-height: 80px;
    --lime-50: '#FFFFD3';
    --lime-100: '#EAFFC7';
    --lime-150: '#D7FF94';
    --lime-300: '#C4FF61';
    --lime-400: '#B1FF2E';
    --lime-600: '#2DB100';
    --lime-800: '#134B00';
}

@media (max-width: 768px) {
    :root {
        --header-height: 64px;
        --footer-height: 84px;
    }
}

html,
body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-feature-settings: 'clig' off, 'liga' off;
}

.no-scroll {
    overflow-y: hidden;
}
