@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --header-height: 80px;
    --lime-50: '#FFFFD3';
    --lime-100: '#EAFFC7';
    --lime-150: '#D7FF94';
    --lime-300: '#C4FF61';
    --lime-400: '#B1FF2E';
    --lime-600: '#2DB100';
    --lime-800: '#134B00';
}

@media (max-width: 768px) {
    :root {
        --header-height: 64px;
    }
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

#root {
    width: 100%;
    height: 100%;
}
